* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d6d6d6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #ff7300;
    color: #d80000;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #b10000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #d3d3d3;
}

section {
    padding: 40px 0;
}

.produto {
    margin-bottom: 30px;
    background-color: #929292;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.produto img {
    max-width: 100%;
    border-radius: 5px;
}

.produto h3 {
    font-size: 20px;
    margin-top: 10px;
}

.produto p {
    font-size: 16px;
}

button {
    background-color: #a10000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #610000;
}

footer {
    background-color: #1b1750;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer form {
    margin-top: 10px;
}

footer form label {
    display: block;
    margin-bottom: 5px;
}

footer form input[type="text"],
footer form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer form button {
    background-color: #7400d3;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

footer form button:hover {
    background-color: #5e00ac;
}